<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="public/zomatoicon.webp">
    <link rel="stylesheet" href="css/style.css">
    <title>Zomato</title>
</head>
<body>
    <div class="login">
        <div class="login-box1 name-field">
            <input class="login-txt input-style" type="email" placeholder="Email">
        </div>
        <div class="login-box1 email-field">
            <input class="login-txt input-style" type="text" placeholder="Password">
        </div>
        <div>
            <button type="submit" class="btn">Log in</button>
        </div>
        <div class="login-end">
            <p class="login-txt">New to Zomato?</p>
            <a class="signup-link" href="signup">Create account</a>
        </div>
    </div>
    
</body>
</html>