<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="public/zomatoicon.webp">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Zomato</title>
</head>
<body>
    <div class="login">
        <div class="login-box1">
            <img class="flag" src="https://b.zmtcdn.com/images/flags_z10/in.png?output-format=webp">
            <span class="country-code">+91</span>
            <i class="fa-light fa-angle-down"></i>
            <span class="divider"></span>
            <input class="input-txt" inputmode="numeric" pattern="[0-9]{1}" placeholder="Phone">
        </div>
        <div>
            <button type="submit" class="btn">Send One Time Password</button>
        </div>
        <div class="line-space">
            <hr class="line">
            <span class="line-txt">or</span>
        </div>
        <div>
            <div class="login-box1 mail-sec">
                <i class="fa-regular fa-envelope fa-2x mail"></i>
                <span class="login-txt"> <a href="Elogin" class="link" >Continue with Email</a></span>
            </div>
            <div class="login-box1 google-sec">
                <img class="google-icon" src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="">
                <span class="login-txt google">Continue with Google</span>
            </div>
        </div>
        <div class="login-end">
            <p class="login-txt">New to Zomato?</p>
            <a class="signup-link" href="signup">Create account</a>
        </div>
    </div>    
</body>
</html>