<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="public/zomatoicon.webp">
    <link rel="stylesheet" href="css/style.css">
    <title>Zomato</title>
</head>
<body>
    <div class="login">
        <form action="/signup" method="post">
            <div class="login-box1 name-field">
                <input class="login-txt input-style" type="email" name="mail" placeholder="Email">
            </div>
            <div class="login-box1 email-field">
                <input class="login-txt input-style" type="text" name="password" placeholder="Password">
            </div>
            <div class="terms-sec">
                <input type="checkbox">
                <span class="terms">I agree to Zomato's <strong class="color-highlight">Terms of Service, Privacy Policy</strong> and <strong class="color-highlight">Policies</strong></span>
            </div>   
            <div>
                <button type="submit" class="btn">Create account</button>
            </div> 
        </form>
    <div class="line-space">
        <hr class="line">
        <span class="line-txt">or</span>
    </div>
    <div class="login-box1">
        <img class="google-icon" src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="">
        <span class="login-txt google">Continue with Google</span>
    </div>
    <div class="login-end">
        <p class="login-txt">Already have an account?</p>
        <a class="signup-link" href="login">Log In</a>
    </div>
</div>
</body>
</html>