<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="public/zomatoicon.webp">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Zomato</title>
</head>
<body>
    <header>
        <div class="nav">
            <div>
                <h4>Get The App</h4>
            </div>
            <ul class="nav-bar">
                <li>Add Restaurent</li>
                <li><a href="Elogin">Log in</a></li>
                <li><a href="signup" >Sign up</a></li>
            </ul>
        </div>
        <div class="head">
            <img class="logo" src="https://b.zmtcdn.com/web_assets/8313a97515fcb0447d2d77c276532a511583262271.png">
            <h3>Discover the best food & drinks in Delhi NCR</h3>
            <div class="search">
                <i class="fa-solid fa-location-dot"></i>
                <p>Ywca, 1, Ashok Rd, Hanu</p>
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search for restaurent, cuisine or a dish">
            </div>
            <div class="header-image">
                <img  src="https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png">
            </div>
        </div>
    </header>
    <section class="sec-1">
        <div class="box">
            <div class="white">
                <span>Order Food online</span>
                <p class="sec-para">Stay home and order to your doorstep</p>
            </div>
            <img src="https://b.zmtcdn.com/webFrontend/e5b8785c257af2a7f354f1addaf37e4e1647364814.jpeg?output-format=webp&fit=around|402:360&crop=402:360;*,*">
        </div>

        <div class="box">
            <div class="white">
                <span>Dining</span>
                <p class="sec-para">View the city's favourite dining venues</p>
            </div>
            <img src="https://b.zmtcdn.com/webFrontend/d026b357feb0d63c997549f6398da8cc1647364915.jpeg?output-format=webp&fit=around|402:360&crop=402:360;*,*">
        </div>

        <div class="box">
            <div class="white">
                <span>Nightlife and Clubs</span>
                <p class="sec-para">Explore the city's top nightlife outlets</p>
            </div>
            <img src="https://b.zmtcdn.com/webFrontend/d9d80ef91cb552e3fdfadb3d4f4379761647365057.jpeg?output-format=webp&fit=around|402:360&crop=402:360;*,*">
        </div>
    </section>
    <section class="middle">
        <div class="sec-2">
            <h2>Collections</h2>
            <div>
                <h6>Explore curated lists of top restaurants, cafes, pubs, and bars in Delhi NCR, based on trends</h6>
                <span>All collections in Delhi NCR <i class="fas fa-caret-right"></i></span>
            </div>
        </div>
        <div class="sec-3">
            <div class="box-1">
                <div>
                    <span>Children's Day Treats <br> 17 places</span><i class="fas fa-caret-right"></i>
                </div>
                <img src="https://b.zmtcdn.com/data/collections/b29658aecfe08d99033d0c576bbf5301_1668402436.jpg?output-format=webp">
            </div>
            <div class="box-1">
                <div>
                    <span>Insta-worthy Places <br> 16 places</span><i class="fas fa-caret-right"></i>
                </div>
                <img src="https://b.zmtcdn.com/data/collections/000b49af5bdaac5d58920baa988dfe73_1667470244.jpg?output-format=webp">
            </div>
            <div class="box-1">
                <div>
                    <span>New in Town <br> 13 places</span><i class="fas fa-caret-right"></i>
                </div>
                <img src="https://b.zmtcdn.com/data/collections/1d1e838de3c921a6bdacb382a3d01c62_1667458984.jpg?output-format=webp">
            </div>
            <div class="box-1">
                <div>
                    <span>Romantic Dining <br> 14 places</span><i class="fas fa-caret-right"></i>
                </div>
                <img src="https://b.zmtcdn.com/data/collections/4c8e5746cdee9c932ebc99ae999520cf_1665492991.jpg?output-format=webp"> 
            </div>
        </div>
        <h1>Popular localities in and around <strong>Delhi NCR</strong></h1>
        <div class="sec-4">
            <div class="box-2">
                <div>
                    <span>Connaught Place</span>
                    <i class="fas fa-chevron-right"></i>
                </div>
                <p class="places">237 places</p>
            </div>

            <div class="box-2">
                <div>
                    <span>Sector 29</span>
                    <i class="fas fa-chevron-right"></i>
                </div>
                <p class="places">134 places</p>
            </div>

            <div class="box-2">
                <div>
                    <span>Sector 18, Noida</span>
                    <i class="fas fa-chevron-right"></i>
                </div>
                <p class="places">188 places</p>
            </div>

            <div class="box-2">
                <div>
                    <span>Rajouri Garden</span>
                    <i class="fas fa-chevron-right"></i>
                </div>
                <p class="places">251 places</p>
            </div>

            <div class="box-2">
                <div>
                    <span>Saket</span>
                    <i class="fas fa-chevron-right"></i>
                </div>
                <p class="places">293 places</p>
            </div>

            <div class="box-2">
                <div>
                    <span>DLF Cyber City</span>
                    <i class="fas fa-chevron-right"></i>
                </div>
                <p class="places">139 places</p>
            </div>

            <div class="box-2">
                <div>
                    <span>Golf Course Road</span>
                    <i class="fas fa-chevron-right"></i>
                </div>
                <p class="places">145 places</p>
            </div>

            <div class="box-2">
                <div>
                    <span>DLF Phase 4</span>
                    <i class="fas fa-chevron-right"></i>
                </div>
                <p class="places">203 places</p>
            </div>

            <div class="box-2">   
                <p class="places more">see more</p>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="sec-7">
            <div class="first">
                <div>
                    <img src="https://b.zmtcdn.com/web_assets/b40b97e677bc7b2ca77c58c61db266fe1603954218.png?fit=around|198:42&crop=198:42;*,*">
                </div>
                <div class="first-1">
                    <div>
                        <span>India</span>
                    </div>
                    <div>
                        <span>English</span>
                    </div>
                </div>
            </div>
            <div class="second">
                <div>
                    <h4>Company</h4>
                    <a href="#">Who We Are</a>
                    <a href="#">Blog</a>
                    <a href="#">Work With Us</a>
                    <a href="#">Report Fraud</a>
                    <a href="#">Contact Us</a>
                </div>
                <div>
                    <h4>Learn More</h4>
                    <a href="#">Privacy</a>
                    <a href="#">Security</a>
                    <a href="#">Terms</a>
                    <a href="#">Sitemap</a>
                </div>
                <div class="box-3">
                    <h4>Social Links</h4>
                    <div>
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
            </div>
            <hr>
            <p class="footer-para">By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners. 2022 &copy; Zomato™ Ltd. All rights reserved.</p>
        </div>
    </section>
</body>
</html>